img.img-responsive.logo {
	margin: 10px 0 0 2px;
}

div.footer-wrapper {
	background-color: #777;
	padding-top: 10px;
	padding-bottom: 10px;
} 

body {
	background-color: #777;
}

#pdf h3  {
	font-size: 18pt; 
}

#pdf p, #pdf td, #pdf th {
	font-size: 15pt; 
}